<!-- Copyright (c) 2018 Juan Carlos Orozco Arena.
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="about-dialog">
  <template>
    <style include="paper-dialog-shared-styles"></style>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <paper-dialog id="about1" modal class="with-margin full-height vertical"> -->
      <paper-button raised on-tap="close">Close</paper-button>
      <p><strong>About MakerSCAD (Alpha) {{version}}   Requires google Chrome for now:</strong></p>
      <p>Copyright (c) 2016 Juan Carlos Orozco Arena</p>

      <p>The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.</p>
      <p>This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License V3.0 as published by
        the Free Software Foundation</p>
      <p>https://gitlab.com/MakerMex/MakerSCAD.git</p>
    
      <p>Author: Juan Carlos Orozco</p>
      <p>Credits:</p>
      <p>Includes contributions by: Luis Arturo Pacheco
      <p>MakerSCAD uses code from <a href="https://makerscad.com/legal/open-source">Open Source projects</a> that use MIT License or Apache 2.0 License as indicated.</p>
     <!--
      <p>- Blockly</p>
      <p>- threejs</p>
      <p>- OpenSCAD-polygon-editor</p>
      <p>- Polymer</p>
      <p>- ThreeCGS</p>
      <p>- Physijs</p>
      <p>- ACE Editor</p>
      <p>- jszip</p>
      <p>- SparkMD5</p>
      <p>- mqttjs</p>
      <p>- dat.gui</p>
      <p>- BlocksIDE</p>
-->
    <!-- </paper-dialog> -->
  </template>

  <script>
    Polymer({
      is: 'about-dialog',
      close: function() {
        this.toggle();
      },
      ready: function() {
        this.modal = true;
        this.version = mm_version;
      },
      behaviors: [
        Polymer.PaperDialogBehavior
      ]
    });
  </script>

</dom-module>
